* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #f0f4ff, #e0c3fc);
    color: #333;
    min-height: 100vh;
}

header {
    background-color: transparent;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color:black;
}

.nav-links {
    padding: 30px;
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #1E3A8A;
    font-weight: 600;
    padding: 5px 10px;
    background-color: #dbeafe;
    border-radius: 5px;
    transition: 0.3s ease;
}

.nav-links a:hover {
    background-color: #bfdbfe;
}

.btn {
    background-color: #6A0DAD;
    color: white;
    padding: 10px 18px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn.secondary {
    background-color: #ddd;
    color: #6A0DAD;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10%;
}

.hero-text {
    max-width: 600px;
}

.hero-text h1 {
    font-size: 40px;
    margin-bottom: 10px;
    background-color: #2563eb;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.hero-text h2 {
    font-size: 24px;
    color: #444;
    margin: 15px 0;
}

.hero-text p {
    font-size: 16px;
    margin-bottom: 20px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.social-icons a img {
    width: 30px;
    margin-right: 10px;
}

.hero-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #6A0DAD;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
